:root {
  --base: #ffc600;
  --spacing: 10px;
  --blur: 10px;
}

img {
  width: 600px;
  height: 400px;
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
}

.hl {
  color: var(--base);
}

body {
  text-align: center;
}

.controls {
  margin-bottom: 50px;
}

input {
  width: 100px;
}